@font-face {
    font-family: "PartybyTom";
    font-style: normal;
    font-weight: normal;
    src: local("PartybyTom"), url("PartybyTom.woff") format("woff");
}

h1.brand {
    width: 80%;
    margin: 1rem auto;
    font-family: "PartybyTom";
    font-weight: lighter;
    font-size: 2.5rem;
    color: crimson;
    padding: 8px;
    border-color: crimson;
    border-radius: 20px 5px;
    background: lavenderblush;
}