@font-face {
    font-family: 'PartybyTom';
    font-style: normal;
    font-weight: normal;
    src: local('PartybyTom'), url('PartybyTom.woff') format('woff');
}

h1.brand {
    margin: 10px 100px;
    font-family: 'PartybyTom';
    font-weight: lighter;
    font-size: 2rem;
    color: red;
    padding: 8px;
    border-radius: 20px 5px;
    width: 80%;
    background: plum;
  }